@import "./nomalize.scss";
@import "./button.scss";
html,
body {
    background-color: #0c0d16;
    height: 100%;
}
.swal2-container {
    z-index: 9999999!important;
}
body {
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.75;
    font-size: 16px;
    background: url(../assets/images/bg.jpg) top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.container {
    position: relative;
    overflow: hidden;
    .jackpot {
        margin: 0 auto;
        text-align: center;
        z-index: 99999;
        position: relative;
        height: 330px;
        
        .j3 {
            margin-top: 0px;
            position: absolute;
            z-index: 999;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }
        .j1 {
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }
        img {
            margin: 0 auto;
        }
        .img-responsive {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
}
.game-container {
    position: relative;
    margin: -205px auto 0;
    width: 392px;
    z-index: 9999;
    
}

.slot {
    background: url(../assets/images/reel_normal.png) 0 4px repeat-y #000;
    width: 92px;
    height: 70px;
    float: left;
    margin: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}
.motion {
    background: url("../assets/images/reel_blur.png") repeat-y; /*Taken from http://www.swish-designs.co.uk*/
}

#result {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
    height: 22px;
}
.credits {
    font-size: 15px;
    margin-top: 20px;
}
.credits .browsers {
    font-style: italic;
    font-size: 14px;
    color: #777;
    margin-top: 4px;
}
.clear {
    clear: both;
}
